.main {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 24px;
  padding: 2.4rem;
  height: calc(100vh - 4.8rem);
  box-sizing: border-box;
}

.box {
  color: #ebd3f8;
  background-color: #2e073f;
  width: 25%;
  border-radius: 0.9rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media only screen and (max-width: 1100px) {
  .main {
    flex-wrap: wrap;
    width: 90%;
  }
  .box {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .main {
    width: 90%;
    flex-direction: column;
    height: auto;
  }
  .box {
    min-height: 20rem !important;
    max-height: 20rem !important;
    width: 100%;
  }
}

.list {
  list-style: none;
  padding: 0.8rem 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  scrollbar-width: thin; /* برای Firefox */
  scrollbar-color: #ad49e1 #2e073f; /* برای Firefox */
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 0.8rem;
}

.list li:hover {
  background-color: #78329d88;
}

.list img {
  width: 3.4rem;
  object-fit: cover;
  border-radius: 0.7rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list::-webkit-scrollbar {
  width: 8px; /* عرض اسکرول‌بار */
}

.list::-webkit-scrollbar-track {
  background-color: #2e073f; /* رنگ پس‌زمینه مسیر اسکرول */
  border-radius: 4px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #ad49e1; /* رنگ خود اسکرول */
  border-radius: 4px;
  transition: background-color 0.3s;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #ebd3f8; /* رنگ اسکرول در حالت هاور */
}

.btn-toggle {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: #ebd3f8;
  color: #2e073f;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-toggle:hover {
  background-color: #ad49e1;
}

.summary {
  width: 97%;
  margin: 1% auto;
  background-color: #2e073f;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(20, 4, 40, 0.7);
}

.summary h2 {
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

.summary .dets {
  font-size: 0.85rem;
  width: 95%;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
}
